.experience-container {
  .exp-wrap {
    padding: 0rem 0rem 2rem;
  }

  .icon-wrap {
    img {
      background-color: white;
    }
  }

  img {
    height: 70px;
    width: 70px;
    margin: 0rem 1rem;
  }

  .inline-block {
    display: inline-block;
  }

  .experience {
    justify-content: left;
    align-items: center; 
    display: flex;
  }

  li {
    list-style: none;
  }
}
