<div class="experience-container">
  <section id="experience-section" class="experience-section">
    <header>
      <h5>Work Experience</h5>
      <hr />
    </header>
    <ul class="profile-section">
      <li *ngFor="let exp of experience">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-2 col-xs-12">
              <div *ngIf="exp.company as company" class="company">
                <h6>{{ company.name }}</h6>
              </div>
            </div>
            <div class="col">
              <ul class="positions-section">
                <li *ngFor="let position of exp.positions">
                  {{ position.title }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
