<!-- <div class="container-fluid">
  <div class="col-md-8 col-sm-12 offset-md-2">
    <mat-toolbar>

      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <span>Parizot</span>
      </a>

      <span class="spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/pathfinder">Pathfinder</a>
      </div>
    </mat-toolbar>

  </div>
</div> -->

<div class="container-fluid">
  <div class="col-md-8 offset-md-2">

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Evan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <mat-icon>menu</mat-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>