<!-- <header>
  <img src="https://simpleicons.org/icons/github.svg" class="icon">
</header> -->
<div class="header" style="position: relative; top: -10px;">
  <div class="header-right">
    <a href="https://github.com/evanparizot" target="_blank">
      <img height="32" width="32" src="https://simpleicons.org/icons/github.svg">
    </a>
    <a href="https://www.linkedin.com/in/evan-parizot-a3933738/" target="_blank">
      <img height="32" width="32" src="https://simpleicons.org/icons/linkedin.svg">
    </a>
  </div>
</div>