nav a:hover {
  color: black;
}

:host {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-item {
  text-align:right;
}

.container-fluid {
  background-color: grey;
}

.navbar-collapse {
  background-color: grey;
}