.landing {
  height: 100vh;
  width: 100%;
  display:inline-block;
  background-image: url("../../../../assets/images/florence_night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.1);
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

ul {
  list-style-type: none;
}

section {
  padding-bottom: 10px;
}
