<div class="container">
  <div class="row">
    <div class="primary col-md-10 offset-md-1">

      <section class="about section">
        <h3>About me</h3>
        <hr>
        <div class="content">
          <p>
            I am currently working as a Software Developer at Quickenloans. I primarily do fullstack development for web
            applications with Angular and .Net Core. In addition to web applications,
            I have experience with AWS and GCP, as well as constructing and managing devops pipelines. Outside of work I
            like to travel, do woodworking, and play ultimate frisbee quite a bit. Thanks
            for checking out my site and feel free to reach out!
          </p>
        </div>
      </section>

      <!-- <section class="work section">
        <h3>Work Experience</h3>
        <hr>
        <div class="content">

          <h5>Quickenloans</h5>
          <div class="container">
            <div class="row">
              <div class="col-8">
                <h6>Software Developer</h6>
                  Stuff about software development here
              </div>
              <div class="col-4 text-right">
                <i>Apr 2019-Present</i>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h6>Quality Engineer</h6>
                  Stuff about quality engineering here
              </div>
              <div class="col-4 text-right">
                <i>Jun 2018-Apr 2019</i>
              </div>
            </div>
          </div>

          <h5>Cognizant</h5>
          <div class="container">
            <div class="row">
              <div class="col-8">
                <h6>Quality Assurance Engineer</h6>
                  Stuff about quality engineering here
              </div>
              <div class="col-4 text-right">
                <i>Jan 2016-Jun 2018</i>
              </div>
            </div>
          </div>

        </div>
      </section> -->

      <!-- <section class="certifications section">
        <h3>Certifications</h3>
        <hr>
      </section>

      <section class="tech section">
        <h3>Skills</h3>
        <hr>
        <div class="content">
          <h6>Languages</h6>
          C#, Python, Javascript, Shell (BASH)
          <h6>Technologies</h6>
          AWS, GCP, Docker, Git, CircleCI
        </div>
      </section> -->

      <!-- <section class="education section">
        <h3>Education</h3>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-10">
              <h5>Texas A&M University</h5>
              Bachelor's degree, Electrical and Electronics Engineering
            </div>
            <div class="col-2 text-right">
              <i>2011-2015</i>
            </div>
          </div>

        </div>
      </section> -->
    </div>

    <!-- <div class="secondary col-md-4 col-sm-12 col-xs-12">
      <aside class="contact aside section">
        <h3 class="heading">Contact</h3>
        
      </aside>
    </div> -->

  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>Recent Repositories</h3>
      <hr>
      <app-github-repo-container></app-github-repo-container>
    </div>
  </div>
</div>