<mat-grid-list [cols]="cols" gutterSize="10px">
  <mat-grid-tile *ngFor="let repo of userRepos">
    <a href="{{repo.html_url}}" target="_blank">

      <mat-card appMaterialElevation class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title><b>{{repo.name}}</b></mat-card-title>
          <mat-card-subtitle>Github</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{repo.description}}</p>
        </mat-card-content>
      </mat-card>
    </a>
    
  </mat-grid-tile>
</mat-grid-list>
