.mat-card {

  .header-image {
    background-image: url('https://simpleicons.org/icons/github.svg');
    background-size: cover;
  }
}

.mat-card:hover {
  background-color: #FFFAE5;
}

a {
  display: flex;
  padding: 1px;
  text-decoration: none;
}