<div class="container">
  <div class="row">
    <div class="col-lg-4 profile-image-wrap">
      <div class="profile-image">
        <img src='http://assets.parizot.info/evan/projects/catan.jpg'>
      </div>
    </div>
    <div class="about-text col-lg-8">
      <h3>Evan Parizot</h3>
      <i>Software Developer/Engineer</i>
      <hr>
      <p>
        Originally from Houston, Texas, I currently reside in the Detroit, Michigan area. I
        do full stack software development at Quickenloans, a Detroit headquartered mortgage company. While
        primarily doing software, I graduated from university with a degree in Electrical Engineering
        and have experience with hardware as well.
      </p>

      <h5>Work Experience</h5>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <p>
              <b>Quickenloans</b>
            </p>
            <i>2018-2019</i>
          </div>
          <div class="col">
            <ul>
              <li>Software Developer</li>
              <li>Software Quality Engineer</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2">
            <b>Cognizant</b>
            <i>2016-2018</i>
          </div>
          <div class="col">
            <ul>
              <li>Quality Assurance Engineer and Analyst</li>
            </ul>
          </div>
        </div>
      </div>

      <h5>Education</h5>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            Texas A&M University
            2011-2015
          </div>
          <div class="col">
            B.S. Electrical and Electronics Engineering
            Minor: Mathematics
          </div>
        </div>
      </div>
    </div>
  </div>