<p>education works!</p>
<!-- <div class="education-container">
          <section id="education-section" class="education-section">
            <header>
              <h5>Education</h5>
              <hr>
  
            </header>
            <div class="container">
              <div class="row">
                <div class="col">
                  <h6>Texas A&M University</h6>
                </div>
                <div class="col text-right">
                  <i>2011-2015</i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  B.S. Electrical and Electronics Engineering
                  Minor: Mathematics
                </div>
              </div>
            </div>
          </section>
        </div> -->