.container-fluid {
  height: 100%;

  .row {
    height: 100%;

    h1 {
      margin: 0px;
    }
  }
}

.content {
  width: 30%;
  height: 30%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}