<button mat-icon-button 
  [matMenuTriggerFor]="menu"
  matTooltip="Color Theme Settings"
  onclick="this.blur()">
  <fa-icon [icon]="['fas','adjust']"></fa-icon>
</button>

<mat-menu #menu="matMenu">
  <div *ngIf="settings$ | async as settings">

    <mat-action-list >
      <button mat-list-item (click)="setTheme('DARK-THEME')">Dark Theme</button>
      <button mat-list-item (click)="setTheme('REPLY-THEME')">Light Theme</button>
      <!-- <button mat-list-item (click)="setTheme('DEFAULT-THEME')">Light Theme</button> -->
    </mat-action-list>
  </div>
</mat-menu>