<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mat-display-3 title">Projects</h1>
      <p [ngClass]="routeAnimationsElements">
        A small collection of things I've worked on over the years.
      </p>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" *ngFor="let project of projects" [ngClass]="routeAnimationsElements">
      
      <mat-card>
        <img mat-card-image src="{{project.thumbnailUrl}}">
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions *ngIf="!!project.sources && project.sources.length > 0">
          <a *ngFor="let source of project.sources" [href]="source.sourceUrl" target="_blank">
            <button mat-button>
              <fa-icon *ngIf="!!source.sourceIcon" icon="{{source.sourceIcon}}"></fa-icon>
              {{source.sourceName}}
            </button>
          </a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
