<div class="default-theme">

  <div class="toolbar">
    <mat-toolbar color="primary">
      <span class="spacer text-center"><a [routerLink]="['']" (click)="sidenav.close()">Evan Parizot</a></span>
      <button class="hamburger hamburger--spin" type="button" (click)="sidenav.toggle()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </mat-toolbar>
  </div> <!-- end toolbar -->

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <h3 mat-subheader>Site Navigation</h3>
        <a mat-list-item *ngFor="let item of siteNav" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{item.label}}
        </a>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Hosted Projects</h3>
        <a mat-list-item *ngFor="let item of projectNav" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">
      <div class="content">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <a href="https://github.com/evanparizot" target="_blank">
              <fa-icon [icon]="['fab','github']"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/evanparizot/" target="_blank">
              <fa-icon [icon]="['fab','linkedin']"></fa-icon>
            </a>
            <a href="https://twitter.com/evanparizot" target="_blank">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </a>
          </div>
        </div>
      </div> <!-- end footer -->
    </div>
  </mat-sidenav-container>
</div>