<div [class]="'theme-wrapper ' + (theme$ | async)">

  <div class="toolbar mat-elevation-z4">
    <mat-toolbar color="primary">
      <div class="container-fluid">
        <div class="row align-items-center toolbar-inner">
          <div class="col text-left">
            <button class="hamburger hamburger--spin" type="button" (click)="sidenav.toggle()">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <div class="col text-center title">
            <nav class="title-link">
              <a [routerLink]="['']" (click)="sidenav.close()">evan parizot</a>
            </nav>
          </div>
          <div class="col"></div>
        </div>
      </div>

    </mat-toolbar>
  </div> <!-- end toolbar -->

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <h3 mat-subheader>Site Navigation</h3>
        <a mat-list-item *ngFor="let item of siteNav" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{item.label}}
        </a>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Hosted Projects</h3>
        <a mat-list-item *ngFor="let item of projectNav" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">
      <div class="content" [@routeAnimations]="o.isActivated">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer" *ngIf="titleService.showFooter">
        <div class="row">
          <div class="col-sm-12 links">
            <a href="https://github.com/evanparizot" target="_blank">
              <fa-icon [icon]="['fab','github']"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/evanparizot/" target="_blank">
              <fa-icon [icon]="['fab','linkedin']"></fa-icon>
            </a>
            <a href="https://twitter.com/evanparizot" target="_blank">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </a>
          </div>
        </div>
      </div> <!-- end footer -->
    </div>
  </mat-sidenav-container>
</div>