@import '~@angular/material/theming';

@mixin feature-pathfinder-container-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);

  app-pathfinder-container {
    table {
      border-collapse: collapse;
    }
    table, td {
      border: 1px solid black;
      
    }
    table {
      tr {
        td {
          div[state="1"] {
            background-color: yellow;
          }
          div[state="2"] {
            background-color: green;
          }
          div[state="4"] {
            background-color: mat-color($accent);
          }
          div[state="5"]  {
            background-color: mat-color($warn);
          }
          div[traversable="false"] {
            background-color: mat-color($primary);
          }
          .hover {
            background-color: mat-color($primary, darker);
          }
        }
      }
    }
  }
}