@import "~@angular/material/theming";

@mixin app-projects-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-grid-list {
    mat-grid-tile {
      .tile-content {
        .overlay {
          background-color: #353a3b;

          .text {
            color: white;
            
            hr {
              border: 0.5px solid white;
            }
          }
        }
      }
    }
  }
}