@import "~@angular/material/theming";

@mixin app-projects-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-grid-list {

    mat-grid-tile {
      // background-color: lightblue;
    }
  }
}