<footer id="footer" class="layout-margin bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                Hello there
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="https://github.com/evanparizot" target="_blank">
                    <img src="https://simpleicons.org/icons/github.svg">
                </a>
                <a href="https://www.linkedin.com/in/evan-parizot-a3933738/" target="_blank">
                    <img src="https://simpleicons.org/icons/linkedin.svg">
                </a>
            </div>
        </div>
    </div>
</footer>