:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  z-index: 1000;
  height: 60px;
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {

  flex-grow: 1;
  overflow: hidden;
}